<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login / Signup</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="d-flex flex-column min-vh-100 ">

  <app-header></app-header>

  <main class="flex-grow-1">
    <div class="container my-5">
      <div class="text-center">
        <h2>Welcome</h2>
        <p>Please login or sign up to continue</p>
        <app-signup></app-signup>
      </div>
    </div>
  </main>

  <app-footer></app-footer>

</body>
</html>





